@media all and (max-width: 767px) {

    .items-circles,
    .logo-tel {
        display: none;
    }

    .form-items {
        flex-direction: column-reverse;
    }

    .items-pay,
    .product-items,
    .sum-total,
    .about-company,
    .page-order {
        width: 100%;
        padding: 30px;
    }

    .error-message {
        width: 90%;
        padding: 30px;
    }

    .info-sum {
        position: inherit;
        width: 100%;
        margin-left: 0;
        padding: 30px;
    }

    .tooltip:after {
        background: #FFC0CB;
        border-radius: 8px 8px 8px 0px;
        color: #000000;
        content: attr(data-tooltip);
        margin-left: -200px;
        opacity: 0;
        padding: 3px 7px;
        position: absolute;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        font-size: 13px;
        z-index: 1;
    }

    .tooltip:hover:after {
        opacity: 1;
        visibility: visible;
    }
}

@media all and (max-width: 580px) {

    .el-form-indent {
        margin: 0;
    }

    .second-user,
    .user-name,
    .items-address,
    .card-info {
        flex-direction: column;
    }

    .select-lang-cur {
        display: flex;
    }

    .choice-lang-cur-article {
        display: block;
    }

    .choice-lang-cur-header {
        display: none;
    }

}