@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 20px
}

input {
    font-size: 12px;
    padding: 7px 0 4px 11px;
    border: 1px solid #cecece;
    background: #fff;
    border-radius: 8px;
    margin-top: 8px;
}

.header {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 15px;
}

.items-circles,
.tel-company,
.user-name,
.items-address,
.card-info,
.card-info-date {
    display: flex;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px dotted #d6d6d6;
    margin: 0 auto;
}

.circle-one {
    color: #FFF;
    background: #1473e6;
    padding: 14px;
}

.circle-two {
    color: #999999;
    background: #FFF;
    padding: 14px;
}

.circle-name-one {
    color: #1473e6;
    font-size: 13px;
}

.circle-name-two {
    color: #d6d6d6;
    font-size: 13px;
}

.circle-block {
    position: relative;
}

.circle-block+.circle-block {
    padding-left: 100px;
}

.circle-block+.circle-block::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 120px;
    height: 1px;
    background: #d6d6d6;
}

.lang-choice,
.currency-choice {
    font-size: 12px;
    color: #999999;
    line-height: 1.3;
    padding: 5px 60px 5px 10px;
    margin: 5px;
    border: 1px solid #696969;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.article {
    background: #eeeeee;
}

.form-items {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 615px;
    padding-top: 30px;
}

.items-pay {
    text-align: center;
}

.items-pay-info {
    text-align: left;
}

.corp-togg,
.second-pers-togg,
.user-coupon-togg {
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
}

.el-form {
    width: 100%;
}

.el-form-indent {
    margin-left: 20px;
}

input::-webkit-input-placeholder {
    font-style: italic;
}

input:-moz-placeholder {
    font-style: italic;
}

.select-form {
    padding: 5px 2px 2px 5px;
    border: 1px solid #cecece;
    background: #fff;
    border-radius: 8px;
    margin-top: 10px;
}

.btn-coupon {
    background-color: #1473e6;
    color: #FFF;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    padding: 1px 6px 4px;
    font-size: 13px;
    margin-top: 7px;
    margin-left: -3px;
    cursor: pointer;
}

.info-sum {
    margin-left: 20px;
    position: sticky;
    top: 0;
}

.info-sum-text {
    text-align: left;
    margin-bottom: 15px;
}

.product-items {
    display: flex;
    height: 70px;
    background-color: #FFF;
    border-radius: 5%;
    justify-content: space-around;
}

.product-logo-block,
.coupon-items {
    align-self: center;
}

.product-logo {
    width: 45px;
    height: 45px;
}

.product-user {
    font-size: 14px;
    font-weight: 600;
    align-self: flex-start;
}

.product-sum {
    color: #999999;
    font-size: 14px;
    align-self: center;
}

.sum-total {
    text-align: center;
    height: 55px;
    width: 305px;
    vertical-align: middle;
    font-size: 21px;
    margin-top: 2px;
    background-color: #FFF;
    border-radius: 5%;
}

.error-message {
    display: none;
    background-color: #faeae6;
    color: #f07255;
    border: 1px solid #f07255;
    width: 615px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 14px;
    padding: 12px;
    border-radius: 5px;
}

.services {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.service-sites {
    width: 120px;
    height: 60px;
}

.btn-block {
    text-align: center;
    margin-top: 25px;
}

.btn-form {
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 40px;
    margin: 0 auto;
    color: #FFF;
    background-color: #89bf49;
    cursor: pointer;
}

.btn-form:active {
    border: 2px solid #1E90FF;
}

.about-company {
    width: 615px;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    font-size: 11px;
    color: #3a465d;
}

.type-phone {
    color: #7b7f87;
}

.company-support {
    text-decoration: none;
    color: inherit;
}

.company-support:hover {
    text-decoration: underline
}

.footer {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    color: #666c70;
}

.page-order {
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
}

.coupon-items {
    align-items: center;
}

.footer-sites {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
}

.copyr {
    white-space: nowrap;
    align-self: flex-end;
    font-size: 13px;
}

.choice-lang-cur-article {
    display: none;
    text-align: end;
    padding-top: 10px;
}

.indent {
    margin-left: 10px;
}

.corp-item,
.coupon-items,
.second-user {
    display: none;
}

.error-border {
    border: 2px solid #FF0000;
}

.block-visible {
    display: block;
}

.block-flex-visible {
    display: flex;
}

.error-img-scard,
.error-img-ncard,
.error-img-lname,
.error-img-city,
.error-img-addr,
.error-img-sname,
.error-img-fname,
.error-img-email,
.error-img-company,
.error-img-lemail {
    position: absolute;
    margin-top: 15px;
    margin-left: -25px;
    visibility: hidden;
}

.error-img-visible {
    visibility: visible;
}

.tooltip {
    cursor: help;
}

.tooltip:after {
    background: #FFC0CB;
    border-radius: 8px 8px 8px 0px;
    color: #000000;
    content: attr(data-tooltip);
    margin-top: -20px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    font-size: 13px;
    z-index: 1;
}

.tooltip:hover:after {
    opacity: 1;
    visibility: visible;
}